@model Crud.App.Domains.ItemsGroup

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ItemsGroup</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemsGroupID" />
            <div class="form-group">
                <label asp-for="ItemsGroupCode" class="control-label"></label>
                <input asp-for="ItemsGroupCode" class="form-control" />
                <span asp-validation-for="ItemsGroupCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemsGroupName" class="control-label"></label>
                <input asp-for="ItemsGroupName" class="form-control" />
                <span asp-validation-for="ItemsGroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemsGroupNameEN" class="control-label"></label>
                <input asp-for="ItemsGroupNameEN" class="form-control" />
                <span asp-validation-for="ItemsGroupNameEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemsGroupNameRU" class="control-label"></label>
                <input asp-for="ItemsGroupNameRU" class="form-control" />
                <span asp-validation-for="ItemsGroupNameRU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentItemsGroupCode" class="control-label"></label>
                <input asp-for="ParentItemsGroupCode" class="form-control" />
                <span asp-validation-for="ParentItemsGroupCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
